<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" id="SopraBankingWSApp" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ./schemas/javaee_5/web-app_2_5.xsd">
	  
	<display-name>booking-jee-rest</display-name>
    <servlet-mapping>
        <servlet-name>be.bo.booking.rest.App</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>